.card{
    display:inline-block;
    margin:10px;
     width:90%;
    
}
.card-body:hover{
   padding:50px;
  
}
.card-body{
    background-color: rgba(13, 13, 14, 0.8);
    color:white;
   
}
.desc_acerca{
    font-size: 18px;
}


.box-acerca{
    display:grid;
    place-items: center;
}