
   
     <section class="sec " >
   
    <div class="row">
      <h1 class="T-sec" >Educacion</h1>
      <div class="col-lg-2">
          <button type="button" class="btn btn-dark" routerLink="añadirEdu" *ngIf="isLogged">
            <i class="bi bi-file-plus"></i>Añadir Educacion
          </button>
      </div>
  
    
      <div class="col-lg-11  table-responsive">
          <table class="table ">
              <tbody>
                  <tr *ngFor="let estudio of estudios">
                      <td>
                          <h2>{{estudio.titulo}}</h2>
                      </td>
                      <td>{{estudio.institucion}}</td>
                      <td>{{estudio.ubicacion}}</td>
                      <td>{{estudio.fechaIn}}</td>
                      <td>{{estudio.fechaFin}}</td>
                      <td >
                          <button class="btn btn-light" routerLink="/editarEdu/{{estudio.id}}" *ngIf="isLogged">
                              <i class="bi bi-pencil-fill"></i> </button>
                      </td>
                      <td > 

                          <button class="btn btn-danger" (click)="confirmacionEliminar(estudio.id)" *ngIf="isLogged">
                              <i class="bi bi-trash-fill"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  
  </div>

</section>

