<div class=" contenedor_banner">
     
    <img src="./../assets/software-developer.webp" alt="banner" class=" img-fluid imagen_banner">

<div class="container-fluid">
<div class="row">
     <div class="col-sm">
    <img src="./../assets/foto-perfil-NH.jpg" alt="" class="img fluid imagen_perfil">  
       </div>
      <div class="col-sm">
               <div class="contenedor-profesion"> 
        <h1 class="q">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2 class="f">Desarrollador FullStack Jr / Analista de Sistemas </h2>
              </div>
               </div>
         </div>
   </div>
    
  
      
</div> 
