
<header class="contenedor_heder">
    <div class="container-fluid "> 
      <div class="row ">
         <div class="col-sm">
         <a href="https://argentinaprograma.inti.gob.ar/course/view.php?id=6"><img src="./../assets/APLogo.png" alt="ARGprog" class="img-fluid LogoAP"></a>
         <h1 class="titulo_cabecero">#Yo Programo</h1>
        </div>
  
        <div class="col-sm ">        
         <button  (click)="Acceso() " class="btn-login"  *ngIf="!isLogged">Iniciar Sesion</button>
         <button  (click)="onLogOut()"   class="btn-login" *ngIf="isLogged" >Cerrar Sesion</button>
         <a href="http://www.facebok.com/nicolas.herrera.927" target="_blank" class="link_redes"><img src="./../assets/logo-facebook.svg" alt="LogoFacebook" class="img-fluid  icono_redes  " ></a>
         <a href="https://www.instagram.com/nico_a_herrera" target="_blank" class="link_redes"><img src="./../assets/logo-instagram.svg" alt="LogoInsta" class="img-fluid  icono_redes  " ></a>
         <a href="https://wa.me/543854727003" target="_blank" class="link_redes"><img src="./../assets/logo-whatsapp.svg" alt="LogoWpp" class="img-fluid icono_redes  "></a>
         <a href="https://www.linkedin.com/in/nicolas-herrera-85a77421a/" target="_blank" class="link_redes"><img src="./../assets/logo-linkedin.svg" alt="Logo-Linkedin" class=" img-fluid  icono_redes" ></a>
         <a href="https://github.com/NicoBuny95/PortfolioWeb-FullStack/" target="_blank" class="link_redes"><img src="./../assets/github-brands.svg" alt="logoGithub" class="img-fluid icono_redes"></a>
        </div>
        
      </div> 
     </div>
       
     
  </header>


 
