<section class="sec">
  
<div class="T-sec"><h1 class="textsec">Hard & Soft skills <i class="fi fi-rr-wrench-simple"></i></h1> </div>
    
    <div class="col-lg-2  pos-btn-sec">
        <button type="button" routerLink="/añadirSkill" class="btn btn-dark " *ngIf="isLogged"> <i class="bi bi-file-plus">Añadir Skill</i></button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skills">
        <circle-progress 
        [percent]="(skill.percent)" 
        [radius]="60" 
        [imageSrc]="(skill.picSkill)" 
        [title]="(skill.skillName)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="true" 
        [imageHeight]="60" 
        [imageWidth]="60" 
        [showUnits]="false"
        [showSubtitle]="false" 
        [outerStrokeWidth]="10" 
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#b4036b'"
        [innerStrokeColor]="'#960459'" 
        [animation]="true" 
        [animationDuration]="600">
        </circle-progress>

        <div class="circulo">
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editarSkill/{{skill.idSkill}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-dark" (click)="confirmacionEliminar(skill.idSkill)"> 
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </div>
        
    </div>

   
    
</section>

